.container {
    display: flex;
    justify-content: center;
}

.principal {
    width: auto;
    max-width: min(90vw, 800px);
}

.principal > div {
    margin-top: 2em;
}

.principal > div.voltar {
    margin-top: 3em;
}

.my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.botoes-principais {
    display: flex;
    justify-content: space-between;
}

.botoes-principais > li {
    list-style: none;
}

.botoes-principais > li:not(:first-child) {
    margin-left: 10px;
}

.botoes-principais > li:not(:last-child) {
    margin-right: 10px;
}

div.texto-resumo {
    text-align: center;
}

div.texto-resumo > ol {
    list-style-position: inside;
    padding: 0;
}

.p-principal {
    font-size: x-large;
}

button {
    border-radius: 0.5em;
    padding: 0.5em;
}

.botoes-principais > li > button {
    font-size: large;
}

span.hoje, .agora {
    width: fit-content;
    border: solid;
    border-radius: 0.5em;
    padding: 0.25em;
}

.agora > span {
    font-weight: bold;
}

.hora-atual, .pre-form, .flex-evenly-center {
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pre-form-carro {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.pre-form-carro > div {
    flex: 50%;
}

.pre-form-carro > div:has(button) {
    flex: 100%;
    display: flex;
    justify-content: space-evenly;
}

div.div-detalhes {
    max-width: 700px;
}

dl.detalhes {
    display: flex;
    flex-wrap: wrap;
}

dl.detalhes > dt {
    flex: 25%;
    font-weight: bold;
}

dl.detalhes > dt:not(:first-child), dl.detalhes > dd:not(:nth-child(2)) {
    margin-top: 1em;
}

dl.detalhes > dd {
    flex: 50%;
}

.maozinha, summary {
    cursor: pointer;
}

details.top-of-list {
    margin-top: 3em;
}

details.top-of-list > summary {
    /* margin-left: -2em; */
    text-align: center;
}

details[open] > summary.list-items {
    list-style-type: disc;
}

details > summary.list-items {
    list-style-type: circle;
}

.maozinha:disabled {
    cursor: not-allowed;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.color-grey {
    color: grey;
}

.tabela-compromissos {
    text-align: center;
    vertical-align: middle;
}

a:has(> span.click-up), a:has(> span.click-down) {
    cursor: pointer;
}

.tabela-compromissos > tbody > tr:nth-child(1) > td:nth-child(5) > span.click-up,
.tabela-compromissos > tbody > tr:nth-last-child() > td:nth-child(5) > span.click-down {
    pointer-events: none;
}

.tabela-compromissos > tbody > tr:nth-child(1) > td:nth-child(5) > span.click-up > a,
.tabela-compromissos > tbody > tr:nth-last-child() > td:nth-child(5) > span.click-down > a {
    cursor: not-allowed;
}